h1 {
  border: groove 5px orange;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 5px;
}
#cityForm {
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
}
#formButton {
  width: 100%;
  margin: 0 auto;
 margin-top: 10px;
}
#lat-lon {
  width: 500px;
  margin: 5px auto;
}
#thisCity {
  /* width: 20%; */
  margin: 5px;
  align-items: center;
}
#thisLat,
#thisLon {
  /* width: 45%; */
  margin: 5px;
  align-items: center;
}
#map {
   border: groove 12px lightblue;
   width: fit-content;
   margin: 20px auto;
 }

 #errorAlert {
   width: 50vw;
   margin: 0 auto;
 }